.content-wrapper {
  background: white;
  padding: 0 0 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 70%;
  display: flex;
  flex-direction: column;
}

.project-name {
  margin-top: 30px;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  justify-content: space-evenly;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

img {
  max-width: 500px;
  height: 300px;
  display: block;
}

a {
  color: black;
}

.bot {
  color: coral;
}

a:hover {
  color: coral;
}

form {
  width: 100%;
  align-items: center;
  align-content: center;
}

.input-fields {
  margin-bottom: 50px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-width: 0 0 1px 0;
  border-color: grey;
  background-color: white;
  color: #333;
}

.submit-btn {
  background-color: coral;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.form-contain {
  width: 500px;
  margin-right: 50px;
  margin-left: 50px;
}
